CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
_deps
CMakePresets.json
CMakeUserPresets.json
build/
.cache/
.cproject.bak
.project.bak
.metadata/
.mxproject
*.tmp
*.buggy



